
.perspective-1000[data-v-185b7af3] {
  perspective: 1000px;
}
.flashcard[data-v-185b7af3] {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.flashcard.flipped[data-v-185b7af3] {
  transform: rotateY(180deg);
}
.flashcard-face[data-v-185b7af3] {
  backface-visibility: hidden;
}
.flashcard-front[data-v-185b7af3] {
  transform: rotateY(0deg);
}
.flashcard-back[data-v-185b7af3] {
  transform: rotateY(180deg);
}
